@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300&family=Square+Peg&display=swap');

body {
    background-color: antiquewhite;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    font-family: 'Ubuntu', sans-serif;
}

nav ul {
    display: flex;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
    align-items: center;
}

nav ul li {
    padding: 0px 10px;
}

.brand img {
    width: 44px;
    padding: 0px 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container {
    min-height: 72vh;
    background-color: black;
    color: white;
    font-family: 'Akshar', sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background-image: url('bg.png');
}

.bottom {
    position: sticky;
    height: 130px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons {
    margin-top: 14px;
}

.icons i {
    cursor: pointer;
}

#myProgressBar {
    width: 50vw;
    cursor: pointer;
}

.songItem {
    height: 50px;
    background-color: white;
    display: flex;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}

.songItemContainer {
    margin-top: 34px;
}

.songItem img {
    width: 43px;
    margin: 0 23px;
    border-radius:34px;
}

.songListPlay {
    margin: 0px 23px;
}

.songListPlay i {
    cursor: pointer;
}

.songsInfo {
    position: absolute;
    left: 10vw;
    font-family: 'Akshar', sans-serif;;
}

.songsInfo img {
    opacity: 0;
    transition: opacity 0.4s ease-in;
}